!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Use title if it's in the page YAML frontmatter
    %title= data.page.title || "The Mobile App"
    = stylesheet_link_tag "application"
  %body
    = yield
