.row
  .columns
    %h1
      Sprite Up

.row
  .columns
    %ul.icons
      - ["Cuisine", "Bar-drinks"].each do |feature|
        %li
          %i{ class: "icons-#{feature.downcase}"}
          %span= feature
