.restaurant-box
  %img{src: "http://placehold.it/500x300&text=Thumbnail"}
  .info-box
    %h3
      %a{href: "#"}
        Restaurant name
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %p
      %button.radius.expand
        Reservar
